# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.coverage
coverage.xml
htmlcov/

# Editors
.idea/
.vscode/

# Home Assistant local development
config/
